# Explicitly detect only JavaScript and HTML as part of LWC
*.html linguist-detectable=true
*.js linguist-detectable=true

# Ignore XML, CSS, Markdown, JSON, and other files for language stats
*.xml linguist-detectable=false
*.css linguist-detectable=false
*.md linguist-detectable=false
*.json linguist-detectable=false
