# Detect only LWC-related files (JavaScript and HTML)
*.html linguist-detectable=true
*.js linguist-detectable=true

# Ignore all other file types to focus solely on LWC
*.css linguist-detectable=false
*.xml linguist-detectable=false
*.json linguist-detectable=false
*.md linguist-detectable=false
*.yaml linguist-detectable=false
*.yml linguist-detectable=false
*.txt linguist-detectable=false
*.java linguist-detectable=false
*.py linguist-detectable=false
*.go linguist-detectable=false
*.ts linguist-detectable=false

